<h2>Horario de {{ datos.grupo_nombre }}</h2>
<table border="1" style="border-collapse:collapse; width:100%; text-align:center;">
    <thead>
        <tr>
            <th>Hora</th>
            <th *ngFor="let dia of datos.dias">{{ dia.dia_nombre }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let slotIdx of [0,1,2]">
            <td>
                {{ datos.dias[0].slots[slotIdx].etiqueta }}
            </td>
            <td *ngFor="let dia of datos.dias">
                <ng-container *ngIf="dia.slots[slotIdx].clase; else vacio">
                    <div><b>{{ dia.slots[slotIdx].clase.asignatura }}</b></div>
                    <div>{{ dia.slots[slotIdx].clase.profesor.nombre }}</div>
                    <div>{{ dia.slots[slotIdx].clase.salon.nombre }}</div>
                </ng-container>
                <ng-template #vacio>-</ng-template>
            </td>
        </tr>
    </tbody>
</table>